{% extends 'content/content_creation.html' %}
{% block title %}Feed{% endblock title %}

{% block content %}

  <nav>
    <a href="{% url 'content_create' %}">Create</a>
    <a href="">Profile</a>
  </nav><br>

  {% if messages %}
    {% for message in messages %}
      {{message}}<br>
    {% endfor %}
  {% endif %}
  
  {% if posts %}
    {% for obj in posts %}
    <div>
      <img src="{{obj.picture.url}}" alt="Image">
      <p>{{obj.caption}}</p>
      {{obj.likes}} likes <br>
      <a href="{% url 'like' obj.pk %}">Like </a><a href="{% url 'comment' obj.pk %}"> comment </a><a>Share </a><a> Save</a>
    </div><br>
    {% endfor %}
    <p>!------- End of the Feed -------!</p>
  {% endif %}


{% endblock content %}